# Projeto Capstone: Previsão de inadimplência no crediário

O crediário hoje sofre com um índice alto de inadimplência, o que leva a 30% dos brasileiros a estarem negativos em algum órgão de proteção ao crédito.
Porém, apenas a informação de negativação é suficiente para conter a inadimplência? Não é que o parece.

## Objetivo

Construir um modelo preditivo de crédito que vai atribuir uma proposta (possível venda) a um risco utilizando informações:
- De cadastro do cliente
- Histórico de compras
- Dados de órgãos de proteção ao crédito

---
## Parte 01: Divisão e extração do dataset

### Extrair label
MDA é a nossa label: maior dias em atraso, ou seja, qual foi o máximo de dias que aquela venda atrasou. Valores negativos significam que a venda foi paga adiantada (antes do vencimento)

In [9]:
import numpy as np
import pandas as pd

data = pd.read_csv('data/out.csv', sep=';')

# Substituir todos os NaN no dataset por zeros
features = data.fillna(method='ffill')
features = data.fillna(value='0')

labels = features[['mda']]
features = features.drop([features.columns[0], 'mda'], axis=1)
features.describe()

,faturado,qtd_parcelas,valor_financiado,valor_parcela,qtd_contratos_quitados_cliente,sexo,idade,estado_civil,anos_empresa,mda_cliente
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,194.788948,3.895600,200.095140,49.871260,6.533200,1.619200,48.671600,1.800400,13.499200,123.278400
std,153.523226,1.683637,174.094267,32.114074,10.489428,0.485681,15.448003,1.010826,23.704235,230.936027
min,4.400000,1.000000,4.400000,4.400000,0.000000,1.000000,0.000000,0.000000,0.000000,-31.000000
25%,88.975000,3.000000,89.800000,28.330000,1.000000,1.000000,36.000000,1.000000,6.000000,15.000000
50%,158.470000,4.000000,159.800000,41.685000,3.000000,2.000000,49.000000,2.000000,10.000000,37.000000
75%,255.810000,5.000000,259.442500,59.960000,7.000000,2.000000,60.000000,2.000000,17.000000,100.000000
max,1250.000000,12.000000,2054.280000,336.330000,85.000000,2.000000,90.000000,6.000000,906.000000,3100.000000

### Train/test split
Dividir o dataset em dados de treino e teste, 'embaralhando' para evitar qualquer bias do dataset.

In [14]:
from sklearn.model_selection import train_test_split

features_train, features_test, labels_train, labels_test = train_test_split(features,
                                                                            labels,
                                                                            test_size=0.2,
                                                                            random_state=0)

## Parte 02: Análise exploratória dos dados

Checar a relevância dos dados, bem como se algum pre-processamento pode ajudar na precisão ou generalização do modelo.

### Clustering de ocupações

Existem várias ocupação possíveis, tornando o modelo complexo demais em observar todas elas. A melhor forma é formar poucos clusters de dados para que o modelo fique mais simples.

In [17]:
import seaborn as sns


# Load one of the data sets that come with seaborn
tips = sns.load_dataset("tips")

sns.lmplot("total_bill", "tip", tips, col="smoker");

## Parte xx: Treinamento do modelo:
WIP

In [7]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=0)
model.fit(features_train, labels_train)
print model.score(features_train, labels_train)
print model.score(features_test, labels_test)

0.954085101973
0.606102077016

/home/stefano/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().