# Projeto Capstone: Previsão de inadimplência no crediário

O crediário hoje sofre com um índice alto de inadimplência, o que leva a 30% dos brasileiros a estarem negativos em algum órgão de proteção ao crédito.
Porém, apenas a informação de negativação é suficiente para conter a inadimplência? Não é que o parece.

## Objetivo

Construir um modelo preditivo de crédito que vai atribuir uma proposta (possível venda) a um risco utilizando informações:
- De cadastro do cliente
- Histórico de compras
- Dados de órgãos de proteção ao crédito

---
## Parte 01: Divisão e extração do dataset

### Extrair label
MDA é a nossa label: maior dias em atraso, ou seja, qual foi o máximo de dias que aquela venda atrasou. Valores negativos significam que a venda foi paga adiantada (antes do vencimento)

In [11]:
import numpy as np
import pandas as pd

features = pd.read_csv('data/out.csv', sep=';')

# Substituir todos os NaN no dataset por zeros
features = features.fillna(method='ffill')
features = features.fillna(value='0')

labels = features[['mda']]
features = features.drop([features.columns[0], 'mda'], axis=1)
features.describe()

,faturado,qtd_parcelas,valor_financiado,valor_parcela,qtd_consultas_ate15dias,qtd_consultas_ate60dias,qtd_registros,qtd_contratos_quitados_cliente,media_atraso_cliente,sexo,idade,estado_civil,ocupacao,anos_empresa,salario,mda_cliente
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,194.788948,3.895600,200.095140,49.871260,0.204400,0.732000,0.139200,6.533200,15.480000,1.619200,48.671600,1.800400,64.884400,13.499200,1408.821052,123.278400
std,153.523226,1.683637,174.094267,32.114074,0.645901,1.450316,0.754752,10.489428,91.973207,0.485681,15.448003,1.010826,36.755182,23.704235,894.385642,230.936027
min,4.400000,1.000000,4.400000,4.400000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-31.000000
25%,88.975000,3.000000,89.800000,28.330000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,36.000000,1.000000,54.000000,6.000000,800.000000,15.000000
50%,158.470000,4.000000,159.800000,41.685000,0.000000,0.000000,0.000000,3.000000,2.000000,2.000000,49.000000,2.000000,67.000000,10.000000,1100.000000,37.000000
75%,255.810000,5.000000,259.442500,59.960000,0.000000,1.000000,0.000000,7.000000,11.000000,2.000000,60.000000,2.000000,72.000000,17.000000,1700.000000,100.000000
max,1250.000000,12.000000,2054.280000,336.330000,7.000000,11.000000,12.000000,85.000000,3277.000000,2.000000,90.000000,6.000000,236.000000,906.000000,6000.000000,3100.000000

### Train/test split
Dividir o dataset em dados de treino e teste, 'embaralhando' para evitar qualquer bias do dataset.

In [12]:
from sklearn.model_selection import train_test_split

features_train, features_test, labels_train, labels_test = train_test_split(features,
                                                                            labels,
                                                                            test_size=0.2,
                                                                            random_state=0)

## Parte xx: Treinamento do modelo:
WIP

In [15]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=0)
model.fit(features_train, labels_train)
# print 'Testing score: ' + model.score(features_test, labels_test)
print 'Train test: ' + model.score(features_train, labels_train)

/home/stefano/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('S32') dtype('S32') dtype('S32')